---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* variables definitions go above import statements, css etc goes below */

$background-color: #fff !default;
$link-color: #2f7d95 !default;
$text-color: #3d4144 !default;

$masthead-link-color: #517A88 !default;
$masthead-link-color-hover: $link-color !default;
$navicon-link-color-hover: mix(#000, $masthead-link-color, 20%) !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// ------------------
// css customizations
// -----------------

/* horizontal spacing */
@media (min-width: 80em) { .masthead__inner-wrap {max-width: 1370px;} }
@media (min-width: 80em) { #main { max-width: 1380px; } }
@media (min-width: 64em) { .page {float: right;width: calc(100% - 220px);padding-right: 220px;} }
@media (min-width: 80em) { .page {width: calc(100% - 275px);padding-right: 320px;} }

@media (min-width: 64em) { .wide .page { padding-right: 100px; } }
@media (min-width: 80em) { .wide .page { padding-right: 100px; } }
@media (min-width: 64em) { .wide .page__related { padding-right: 100px; } }
@media (min-width: 80em) { .wide .page__related { padding-right: 100px; } }

@media (min-width: 64em) { .wide .archive { padding-right: 100px; } }
@media (min-width: 80em) { .wide .archive { padding-right: 100px; } }

@media (min-width: 64em) { .sidebar { width: calc(200px - 1em); } }
@media (min-width: 80em) { .sidebar { width: calc(250px - 1em); } }

@media (max-width: 64em) { .sidebar { display: none; } }

.sidebar { clear: both; padding-right: 0px; }

/* vertical spacing */
h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.5em; line-height: 1.2;font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;font-weight: bold;
}
 
.page__title {
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 1;
}

.notice--warning {
    margin: 1em 0 !important;
}


/* colors, etc */
a {
    font-weight: bold;
    color: $link-color;
}

.greedy-nav a.site-title {
    font-weight: bold;
    color: $text-color;
}

.greedy-nav a {
    font-weight: normal;
}

.greedy-nav a:before {
    background: $link-color !important;
}

.greedy-nav a:hover {
    text-shadow: 0.2px 0.2px;
}

.search__toggle {
    color: $masthead-link-color;
}

.toc .nav__title {
    background: $masthead-link-color;
}

/* font sizes */
html {
  font-size: 16px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}
