---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* variables definitions go above import statements, css etc goes below */

$background-color: #fff !default;
$link-color: #7f253c !default;
$text-color: #1c1c1c !default;
$link-color-visited: $link-color !default;

$masthead-link-color: #fff !default;
$masthead-link-color-hover: mix(#000, $masthead-link-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $masthead-link-color, 20%) !default;

/* type scale */
$type-size-1                  : 2.441em !default;  // ~39.056px
$type-size-2                  : 1.953em !default;  // ~31.248px
$type-size-3                  : 1.563em !default;  // ~25.008px
$type-size-4                  : 1.25em !default;   // ~20px
$type-size-5                  : 1em !default;      // ~16px
$type-size-6                  : 0.85em !default;   // ~14px
$type-size-7                  : 0.75em !default;   // ~12px
$type-size-8                  : 0.6875em !default; // ~11px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// ------------------
// css customizations
// -----------------

/* horizontal spacing */


/* vertical spacing */
h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.5em;
    line-height: 1.2;
    font-family: 'Jubilat-Medium';
}
 
.page__title {
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 1;
}

.notice--warning {
    margin: 1.5em 0 !important;
}

@media (min-width: 64em) { .sidebar__right { float: right; position: sticky !important; } }

.sidebar__right {
    margin-bottom: 1em;
    top: 4em !important;
}

/* colors, etc */
a {
    font-weight: bold;
    color: $link-color;
}

.notice--info {
    background-color: #e0c9ce !important;
}

.notice--info a {
    color: $link-color;
}

.greedy-nav a.site-title {
    font-weight: bold;
}

.greedy-nav a {
    font-weight: normal;
}

.greedy-nav a:before {
    background: $link-color !important;
}

.greedy-nav a:hover {
    text-shadow: 0.2px 0.2px;
}

.greedy-nav .visible-links {
    font-size: 0.95em;
}

.search__toggle {
    color: $masthead-link-color;
}

.toc {
    margin-left: 15px;
}

.toc .nav__title {
    background: $link-color;
}

/* font sizes */
html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}

/* custom */

.btn-sm {
    padding: .1rem .3rem;
}

.btn {
    padding: 0.25em 0.5em;
    border-radius: 6px;
    margin-top: 3px;
}

/* sponsor cards */

.card {
    position: relative;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    width: 210px;
    height: 210px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 15px;
}

.card a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    border-radius: 5px;
    max-height: 200px;
    max-width: 200px;
    box-shadow: none !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toc {
    background: #d8d9df;
    padding-bottom: 5px;
    border: 1px solid #d8d9df !important;
}

.toc__menu a {
    border-bottom: 1px solid #c7c8d1 !important;
}

.toc__menu li ul li ul > li a {
    padding-left: 1.75rem;
    color: $text-color !important;
}

ul {
    margin-block-start: 0.5em;
}

.toc__menu a {
    color: $text-color !important;
}

.masthead {
    background: $link-color;
    font-family: 'Jubilat-Light';    
}

.masthead a {
    font-family: 'Jubilat-Light';
}

.greedy-nav {
    background: none;
}

#index-img {
    max-height: none;
    max-width: none;
    margin-top: 10px;
    width: 100%;
}


/* Fonts */

$sans-serif-narrow  : "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$global-font-family : "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

body, .toc, .notice--info {
    font-family: $sans-serif-narrow !important;
}


@font-face {
    font-family: 'Jubilat-Regular';
    src: url('/assets/fonts/Jubilat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jubilat-Light';
    src: url('/assets/fonts/Jubilat-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jubilat-Medium';
    src: url('/assets/fonts/Jubilat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jubilat-Bold';
    src: url('/assets/fonts/Jubilat-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
